* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  font-family: 'TT Lakes Neue', sans-serif;
}

img {
  width: 100%;
}

ul,
ol,
li {
  list-style-type: none;
}

body {
  background-color: #000;
}

a:hover {
  color: #c2e978;
}

.container {
  max-width: 1168px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Header start */

.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 40px 0;
  background: linear-gradient(
    180deg,
    #000000 45.56%,
    rgba(0, 0, 0, 0.8) 56.45%,
    rgba(0, 0, 0, 0.6) 67.34%,
    rgba(0, 0, 0, 0.4) 78.23%,
    rgba(0, 0, 0, 0.2) 89.11%,
    rgba(0, 0, 0, 0) 100%
  );
}

.header__container {
  max-width: 1272px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 42px;
  column-gap: 42px;
}

.header__nav {
  display: flex;
  -moz-column-gap: 24px;
  column-gap: 24px;
}

.header__menu {
  align-items: center;
  display: flex;
  -moz-column-gap: 24px;
  column-gap: 24px;
}

.header__menu-item {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
}

.header__socs {
  align-items: center;
  display: flex;
  -moz-column-gap: 36px;
  column-gap: 36px;
}

/* Header end */

/* Main-info start */

.main-info {
  position: relative;
  padding: 152px 0 133px;
  background: url('./src/images/main-info/bg.png') center/100% 100% no-repeat;
  text-align: center;
}

.main-info::before {
  content: '';
  width: 100%;
  background: url('./src/images/main-info/overlayLeaves.png') center/cover
    no-repeat;
  position: absolute;
  top: -100px;
  left: -110px;
  z-index: 2;
}

.main-info::after {
  content: '';
  display: block;
  height: 208px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(180deg, #000000 18.83%, rgba(0, 0, 0, 0) 100%);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.main-info__subtitle {
  font-family: 'StoneSoupNFW01-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #c2e978;
}

.main-info-title {
  margin: 8px 0;
}

.main-info__middle {
  margin: 16px auto 84px;
  max-width: 800px;
}

.main-info__bottom-title {
  font-family: 'StoneSoupNFW01-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  margin-bottom: 12px;
}

.main-info__bottom-title > span {
  font-family: 'StoneSoupNFW01-Regular';
  color: #c2e978;
}

.main-info__bottom-description {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

/* Main-info end */
