* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
}

ul,
ol,
li {
  list-style-type: none;
}

body {
  background-color: #000;
}

.container {
  max-width: 1168px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Header start */

.header {
  padding: 40px 0;
  background: linear-gradient(
    180deg,
    #000000 45.56%,
    rgba(0, 0, 0, 0.8) 56.45%,
    rgba(0, 0, 0, 0.6) 67.34%,
    rgba(0, 0, 0, 0.4) 78.23%,
    rgba(0, 0, 0, 0.2) 89.11%,
    rgba(0, 0, 0, 0) 100%
  );
}

.header__container {
  max-width: 1272px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 42px;
       column-gap: 42px;
}

/* Header end */
